<div class="container mt-3" style="width: 100%;">

  <div class="row">
    <div class=" col-sm "></div>
    <div class="card col-sm " style="width: 18rem;">
      <div class="card-header">
        Calculadora : {{res}} .
      </div>

      <div class="card-body">

        <p class="card-text">
          <br />
          x:
          <input type="number" [(ngModel)]="x" />
          <br />
          y:
          <input type="number" [(ngModel)]="y" />
        </p>
        <button class="btn btn-danger" (click)=sumar()> =</button>

      </div>
    </div>
    <div class=" col-sm "></div>
  </div>
</div>